body {
  margin: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.categoryName {
  color: white;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li button{
  --c: goldenrod;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 28em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul li button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li button:hover {
  color: black;
}

nav ul li button:hover span {
  transform: translateY(0) scale(2);
}

nav ul li button span:nth-child(1) {
  --n: 1;
}

nav ul li button span:nth-child(2) {
  --n: 2;
}

nav ul li button span:nth-child(3) {
  --n: 3;
}

nav ul li button span:nth-child(4) {
  --n: 4;
}

.categoryButton {
  background-color: black;
}

.questions {
  color: white;
  margin-top: 1900px;
}

.questionButton {
  /* background-color: goldenrod;
  color: black; */
  background-color: black;
  color: goldenrod;
  border: 2px solid;
  border-color: goldenrod;
  padding: 10px;
  margin: 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .3s ease-in-out;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-family: sans-serif;

}

.questionButton:hover {
  background-color: goldenrod;
  color: black;
  /* background-color: black;
  color: goldenrod; */

}

.backButton {
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.submitButton {
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  background-color: goldenrod;
  padding: 10px;
  color: white;
  margin-bottom: 50px;
}

.submitButton:hover {
  background-color: gold;
}